p {
    background-color: rgb(163, 38, 153);
    font-family: 'Segoe UI', Tahoma, 'Geneva', 'DejaVu Sans',Verdana, sans-serif;
}

.morespecific {
    font-size: 24px;
}

#bigblue {
    color: rgb(0,0,255); font-size: 36px;
}

#smallgreen {
    font-size: 24px;background-color: rgb(0,255,0);
    font-weight: 700;
}